<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;600&family=Russo+One&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        body {
            background-color: #FAFAFA;
            font-family: 'Courier New', Courier, monospace;
            padding-top: 50px;
        }

        h1, h2, h3, h4, h5, h6, strong{
            font-family: 'Russo One', sans-serif;
            font-weight: 500;
        }



        .container {
            max-width: 550px;
            margin: auto;
            background-attachment: white;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}
        
        {% endblock content %}
    </div>
</body>
</html>